-# .text-center.u-padding-bottom-xl.u-padding-top-md{:style => "background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%); position: relative;"}
-#   %div{:style => "background: url(/images/home/home-particles-6.svg) center 27% no-repeat;"}  
-#     %img.footer-logo{:src => "/images/home/illustrations_gitlab_logo.svg", :style => "display: block;"}
-#     %h1{:style => "margin: 0;"} Ready to talk?
-#     %p Unlimited access to all features for 30 days.
-#     .container.buttons-container.hero-item.u-margin-top-sm.u-margin-bottom-sm.hero-content.text-center{:style => "min-width: 100%;"}
-#       = link_to "/free-trial/", class: "btn cta-btn orange-light" do
-#         Start your free trial
-#       = link_to "/sales/", class: "btn cta-btn", style: "color: #333; border-color: #333;" do
-#         Contact Sales

.container.row.text-center.cmp-cta-contact
  .col-md-6.col-md-offset-3
    .row
      %h3 What’s stopping you from transforming your software development process?
    .row
      .col-md-12
        %p.u-margin-top-xs.u-margin-bottom-0 We’re here to help. Talk to an expert today.
    .row
      .col-md-12
        %a{href: "/free-trial/", class: "btn cta-btn orange-light"} Try GitLab for FREE
        - unless current_page.data.cta_contact_single_button == true
          %a{href: "/sales/", class: "btn cta-btn lavender"} Ask us anything
